.search-result {
  position: relative;
  color: #333;
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

.search-result ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-result ul li {
  text-align: left;
  margin-left: 0;
  padding: 0;
  border-bottom: 1px solid #f1f1f1;
  color: #777;
  background: #fff;
  font-weight: 200;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
}

.search-result ul li:first-child {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.search-result ul li:last-child {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.search-result ul li:hover {
  background: #f9f9f9;
}
